<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>Data Science Tools</li>
    <li>Examples of evaluating arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <!--<li>Pandas</li>!-->
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>SciKit-Learn</li>
<ol>

<table>
    <tr><th>Data Science Tools</th></tr>
    <tr><td>RStudio</td></tr>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>Jupyter Lab</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
hours

3.3333333333333335

<h2>Author</h2>
Ghulam Ali